*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;

}

.instrucciones {
	text-align-last: left;
}

body, footer {
	padding: 50px;
}

body {
	margin: 100px;
	border: 2px solid #2f3542;
}

div {
	text-align: left;
}

footer li {
	list-style: none;
}

footer { 
	background: #dfe4ea;
	color: #2f3542;
	font-weight: bold;
	margin-top: 30px;
}
